html,
body {
  padding: 0;
  background-color: #0d0d0d;
  /* user-select: none; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Clash Display";
  src: url(/fonts/ClashDisplay-Bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: "Clash Display";
  src: url(/fonts/ClashDisplay-Semibold.otf);
  font-weight: 600;
}

@font-face {
  font-family: "Clash Display";
  src: url(/fonts/ClashDisplay-Medium.otf);
  font-weight: 500;
}

@font-face {
  font-family: "Clash Display";
  src: url(/fonts/ClashDisplay-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: "Clash Display";
  src: url(/fonts/ClashDisplay-Light.otf);
  font-weight: 300;
}

@font-face {
  font-family: "Clash Display";
  src: url(/fonts/ClashDisplay-Extralight.otf);
  font-weight: 200;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-calendar-picker-indicator {
  filter: invert(83%) sepia(52%) saturate(912%) hue-rotate(21deg) brightness(106%) contrast(102%);
}